# ========================
# Dependencias
# ========================
node_modules/

# ========================
# Expo & EAS (Nube)
# ========================
.expo/
.eas/
dist/
web-build/
expo-env.d.ts

# ========================
# Carpetas Nativas Generadas
# ========================
/ios
/android
.kotlin/

# ========================
# Certificados y Firmas
# ========================
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ========================
# Logs, Debug y Metro
# ========================
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# ========================
# Entorno y Variables Locales
# ========================
.env*.local

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Archivos del Sistema (macOS/Windows)
# ========================
.DS_Store
Thumbs.db